# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
variable1 = 20
variable2 = 20
print(variable1 == variable2)
print(id(variable1) == id(variable2))

True
True

Так, якщо посилаються на число в проміжку -5 до 256, то не тільки рівні між собою, а й посилаються на один і той самий об'єкт в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
bool_variable1 = True
bool_variable2 = False
print(isinstance(bool_variable1, bool))
print(isinstance(bool_variable2, bool))
print(isinstance(bool_variable1, int))
print(isinstance(bool_variable2, int))

True
True
True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
int_var1 = 100
int_var2 = 13
int_var3 = 2
float_var1 = 2.5
print(int_var1 + float_var1)
print(int_var1 - float_var1)
print(int_var1 * float_var1)
print(int_var1 / float_var1)
print(int_var1 // int_var2)
print(int_var1 % int_var2)
print(int_var2 ** int_var3)

102.5
97.5
250.0
40.0
7
9
169

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print(float_var1)
int_var3 = int(float_var1)
print(int_var3)
bool_var3 = False
print(bool_var3)
int_var3 = int(bool_var3)
print(int_var3)

2.5
2
False
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_str1 = ''
empty_str2 = str()
print(empty_str1)
print(empty_str2)
print(empty_str1 == empty_str2)

True

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
apostrophe_str = '--- \' ---'
print(apostrophe_str)
apostrophe_str_raw = r'--- \' ---'
print(apostrophe_str_raw)

--- ' ---
--- \' ---

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = "Marchenko"
str_format = f"My surname is {my_surname}"
print(str_format)

My surname is Marchenko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
dog_str = "My dog is crazy"
dog_list = dog_str.lower().split(" ")
print(dog_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [1, 2, 3]
list2 = list((1, 2, 3))
print(list1)
print(list2)
print("list2 length =", len(list2))

[1, 2, 3]
[1, 2, 3]
list2 length = 3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list3 = [1, "text", True]
list4 = [2, "str", False]
print(list3)
print(list4)
list3.append(list4)
print(list3)

[1, 'text', True]
[2, 'str', False]
[1, 'text', True, [2, 'str', False]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list5 = [[2, 1, 3], [5, 6, 4], [7, 9, 8], [12, 11, 10], [14, 13, 15]]
print(list5[-1][0])

14

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list6 = [6, 12.5, "str", False, None, ["1", "2"], {1, 2}, (1, 2), {1: 'a', 2: 'b'}, '123']
sublist6 = list6[2:-2]
print(sublist6)

['str', False, None, ['1', '2'], {1, 2}, (1, 2)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [10]:
tuple1 = (1, )
print(tuple1)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

# Схожості
1. Зберігання ряду значень в одному місці
2. Доступ до елементів по індексу

# Відмінності
1. Списки mutable і в них елементи можна змінювати, додавати нові, видаляти старі, а кортежі immutable і в них не можна нічого змінювати
2. Списки мають синтаксис з квадратними дужками [], кортежі ()
3. Списки створені для зберігання різних типів даних, кортежі створені з ідеєю зберігання однакових типів даних (хоч можуть і зберігати різні)

# Використання
Списки використовують там, де є можливість того що дані зміняться з часом.

Кортежі ж використовуються там, де 100% дані залишаться незміненими назавжди (наприклад константи), і в такому випадку кортежі можуть бути швидшими в експлуатації, ніж списки.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [25]:
tuple2 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple2_evens = tuple2[::-2]
print(tuple2_evens)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [50]:
set1 = set()
print(set1)
set1.add(1)
set1.add(1.2)
set1.add("str")
set1.add("str")
set1.add("str")
set1.add("str")
print(set1)

set()
{1, 'str', 1.2}

Так, set - mutable тип даних, можна змінювати.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [51]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set2 = set(my_list)
print(set2)

{1, 2, 67, 8, 9}

Пропали повторні елементи (1 і 67), тому що множина set не може мати в собі 2 однакових елементи, бо така ідея множини як типу даних.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [60]:
set3 = {1, 3, 4, 6, 8, 11, 17}
set4 = {1, 2, 5, 6, 7, 9, 12, 14, 17, 19}
print(set3.union(set4))
print(set3.difference(set4))
print(set3.intersection(set4))
print(set3.symmetric_difference(set4))
print("\n")
# no changes
print(set3)
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14, 17, 19}
{8, 11, 3, 4}
{1, 17, 6}
{2, 3, 4, 5, 7, 8, 9, 11, 12, 14, 19}


{1, 17, 3, 4, 6, 8, 11}
{1, 2, 5, 6, 7, 9, 12, 14, 17, 19}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [70]:
dict1 = {}
print(type(dict1))
print(dict1)
dict1[0] = "1st"
dict1[0.5] = "2nd"
dict1["key"] = "3rd"
dict1[None] = "4th"
dict1[(5, 5, 5)] = "5th"
# dict1[[6, 6, 6]] = "6th" - error
print(dict1)

<class 'dict'>
{}
{0: '1st', 0.5: '2nd', 'key': '3rd', None: '4th', (5, 5, 5): '5th'}

Список не може бути ключем словника, тому що список є mutable типом даних, а в словниках в пайтоні ключі мають бути незмінним типом обов'язково, через це можна ключем зробити той же tuple.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [72]:
dict2 = {0: "str", 1: {0: "str", 1: {"KEY": ("value1", "value2", "value3")}}}
print(dict2.get(1).get(1))
print(dict2.get(1).get(1).get("KEY"))

{'KEY': ('value1', 'value2', 'value3')}
('value1', 'value2', 'value3')

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.